:root {--bg-dark: #2E2F42;}
:root {--btn-bg-focus-cl: #404BBF;
 --link-focus-cl: #404BBF;
 --sbt-text-cl: #2E2F42;
 --conts-text-cl: #434455;}

/*common styles*/

body {
font-family: 'Roboto', sans-serif;
letter-spacing: 0.02em;
color: #434455;
font-size: 16px;
line-height: 1.5;
background-color: #FFFFFF;}

/*reset*/

.list .list-item {list-style: none;}
.link {text-decoration: none; color: currentColor;}

/*logo styles*/

.logo {font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;}
.top-sec-studio-cl {color: #2E2F42;}
.studio-cl {color: #F4F4FD;}

/*btn & link styles*/

.list .link {color: var(--sbt-text-cl);
letter-spacing: 0.02em;
text-decoration: none;}
.conts {font-style: normal;
color: var(--conts-text-cl);}
.list .link:hover,
.list .link:focus {color: var(--link-focus-cl);}

.mp-btn-order {
background: #4D5AE5;
font-family: inherit;
font-size: 16px;
line-height: 1.5;
font-weight: 500;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
cursor: pointer;}
.mp-btn-order:hover,
.mp-btn-order:focus {
background: var(--btn-bg-focus-cl);
color: #FFFFFF;}

.btn .portfolio-filter {
background: #F4F4FD;
border: 1px solid #E7E9FC;
font-family: inherit;
font-size: 16px;
line-height: 1.5;
font-weight: 500;
text-align: center;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;}
.btn .portfolio-filter:hover,
.btn .portfolio-filter:focus {
background:var(--btn-bg-focus-cl);
border: 1px solid #E7E9FC;
color: #FFFFFF;}

.menu {font-weight: 500;}
.company-conts {color: var(--conts-text-cl);}

/*Page Text*/

.main-page-title {
color: #FFFFFF; 
font-Weight: Bold;
font-Size: 56px;
letter-spacing: 0.02em;
line-height: 1.07;
text-align: center;}

.second-lev-titel {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--sbt-text-cl);
text-align: center;
text-transform: capitalize;}

.third-lev-title {
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em; 
color: var(--sbt-text-cl);}

.parag {font-size: 16px;}
.pf-parag {color: var(--conts-text-cl);}

.bottom-text {color: #F4F4FD;}

/*Page backgrounds*/

.top-section {background: var(--top-sect-bg);}  

.main-page {background: var(--bg-dark);}

.team-section {background: #F4F4FD;}

.list-item {background-color: #FFFFFF;}

.bottom-section {background: var(--bg-dark);}


